body {
  background: url("../images/bg.jpg") no-repeat center;
  background-size: cover;
}

h1 {
  font-family: "Yesesva One";
}

.direction {
  width: 100vw;
  line-height: 1px;
  float: right;
}
.container {
  /* overflow: hidden; */
  justify-content: center;
  padding-top: 20vh;
  width: 100vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
}
.container1 {
  justify-content: center;
  padding-top: 15vh;
  width: 100vw;
  overflow: auto;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  border-radius: 15px;
  display: flex;
}
.position {
  display: flex;
  flex-direction: row;
  margin: 2vh 0;
  width: 30vw;
  background: #ffffff;
  border-radius: 7px;
}
.text {
  width: 30vw;
}
.button {
  width: 30vw;
  height: 6vh;
  border-radius: 7px;
  color: #fff;
  background-color: #00a1a1;
}

.list {
  display: grid;
  grid-template-columns: auto auto auto;
}
.list-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  text-align: center;
}

.bg {
  background-color: #000;
  padding: 1vh;
  color: #ffffff;
}
li {
  list-style: none;
  margin: 0vh 5vh;
  display: flex;
  justify-content: center;
  font-family: Recursive;
  font-size: 2.5vh;
}
#top {
  margin: 0vh 14vh;
}
#li:hover {
  background: #00a0a0;
  color: #000;
}

#li1:hover {
  background: #00a0a0;
  color: #000;
}
#li2:hover {
  background: #00a0a0;
  color: #000;
}

.space {
  margin-top: 3vh;
  overflow: visible;
}

.radio {
  display: flex;
  grid-template-rows: auto auto auto;
  width: 70vw;
}

#container {
  border-radius: 15px;
}

#li {
  display: flex;
  padding: 0 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fa-trash {
  margin-right: 3vh;
}
.fa-trash:hover {
  color: red;
}
.fa-pencil:hover {
  color: red;
}
.icons {
  display: flex;
  justify-content: center;
}
#divider {
  background-color: #fff;
  margin: 0vh 10vh;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 768px) {
  body {
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
  }
  .position {
    width: 45vw;
  }
  .text {
    width: 45vw;
  }
  #top {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .button {
    width: 45vw;
  }
  #divider {
    background-color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  li {
    margin: 0;
  }
  .MuiGrid-spacing-xs-3 .MuiGrid-item {
    padding: 12px 0;
  }
}
@media screen and (max-width: 600px) {
  body {
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
  }
  li {
    font-size: 2.3vh;
  }
  #top {
    display: flex;
    flex-direction: column;
    margin: 0vh 16vh;
  }
}
@media screen and (max-width: 450px) {
  body {
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
  }
  .position {
    width: 60vw;
  }
  .text {
    width: 60vw;
  }
  .button {
    width: 60vw;
  }
  #top {
    margin: 0vh 11vh;
  }
  li {
    font-size: 1.9vh;
  }
}
